<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eventet </title>
    <link rel="stylesheet" href="Event.css">

</head>

<body>
    <div class="navbar"></div>
    <h2>Upcoming events</h2>
    <div class="upcoming">
        <ul>
            <li>
                <div class="eventetup">
                    <div class="overlay">
                        <p class="description ">
                            Grupi I çiklizmit “Marakli t’Biciklave” për nder të ditës së gruas - 8 MARSI, të hënën organizon eventin e radhës Marsho dhe çiklo që do të mbahet nëpër rrugët kryesore të kryeqytetit të Kosovës - Prishtinë. Ngjarja ka më shumë karakter
                            senzibilizues si në aspektin e të drejtave të grave po ashtu edhe të përfshirjes së grave në aktivitete sportive sic është ciklizmi. Andaj i inkurajojmë të gjitha gratë antare të grupit por edhe ato joanëtare,
                            që të na bashkohen në këtë aktivitet dhe të marshojm se bashku me bicikleta. Me këtë rast ne I bashkohemi thirrjes për më shumë të drejta për gratë por edhe për gra të forta sic janë sportistet përkatësisht
                            ciklistet. E përbashkëta e të drejtava të grave dhe ciklizimit është lëvizja.
                            <p>
                                <img class="upfoto " src="foto/28 nentori.jpg " alt=" ">
                                <div class="text ">
                                    <h3>28 Nentori</h3>
                                    <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                                    <button>Going</button>
                                    <p class="read ">click for more</p>

                                </div>
                    </div>
                </div>

            </li>
            <li>
                <div class="eventetup ">
                    <img class="upfoto " src="foto/8 marsi.jpg " alt=" ">
                    <div class="text ">
                        <h3>8 marsi</h3>
                        <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                        <button>Going</button>
                        <p class="read ">click for more</p>
                        <p class="description ">
                            Grupi I çiklizmit “Marakli t’Biciklave” për nder të ditës së gruas - 8 MARSI, të hënën organizon eventin e radhës Marsho dhe çiklo që do të mbahet nëpër rrugët kryesore të kryeqytetit të Kosovës - Prishtinë. Ngjarja ka më shumë karakter
                            senzibilizues si në aspektin e të drejtave të grave po ashtu edhe të përfshirjes së grave në aktivitete sportive sic është ciklizmi. Andaj i inkurajojmë të gjitha gratë antare të grupit por edhe ato joanëtare,
                            që të na bashkohen në këtë aktivitet dhe të marshojm se bashku me bicikleta. Me këtë rast ne I bashkohemi thirrjes për më shumë të drejta për gratë por edhe për gra të forta sic janë sportistet përkatësisht
                            ciklistet. E përbashkëta e të drejtava të grave dhe ciklizimit është lëvizja.
                            <p>
                    </div>
                </div>
            </li>
            <li>
                <div class="eventetup ">
                    <img class="upfoto " src="foto/Batllava.jpg " alt=" ">
                    <div class="text ">
                        <h3>Batllava</h3>
                        <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                        <button>Going</button>
                        <p class="read ">click for more</p>
                        <p class="description ">
                            Ne takohemi tek sheshi ''Zahir Pajaziti'' në Prishtinë nga ora 08:30 (është mirë të jeni prezent së paku 15 minuta më herët) Udhëtimi në drejtim të Liqenit të Batllavës do të bëhet me biçikleta nga Qyteti i Prishtinës, distanca qe do t'a
                            përshkojm është 80+km (dy drejtimëshe), vlen të ceket se tereni është mesatarisht i vështirë, dhe në këtë aktivitet preferohet të marrin pjesë vetëm ata/ato , të cilët janë mirë të përgaditur në aspektin
                            fizik. Gjatë rrugës do të ketë ndalesa të vazhdueshme për pushim , sipas nevojave dhe kërkesave të pjesëmarrësve. Ndërsa pas arritjes në Fshatin Orllan do të ndalemi për një natë Camping. Pas përfundimit të
                            aktivitetit , kthimi për në Prishtinë parashihet gjithashtu të bëhet me biçikleta
                            <p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="pastevents ">
        <h2>Past events</h2>
        <div class="pastevent1 "></div>
        <div class="pastevent2 "></div>
        <div class="pastevent3 "></div>
    </div>
    <script src="event.js "></script>
</body>

</html>