<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eventet </title>
    <link rel="stylesheet" href="Event.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="main">
    <div class="navbar"></div>
    <h1 class="nen_titull">Upcoming events</h1>
    <div class="container">

        <div class="eventet">
            <img class="upfoto " src="../../photos/28 nentori.jpg " alt=" ">
            <div class="text active ">
                <h3>28 Nentori</h3>
                <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                <button>Going</button>
                <p class="read active">Hold to read more</p>

            </div>
            <!-- ne overlay e shtin veq desc te objektit edhe punon super tani me kod te w3schools :D -->
            <div class="overlay">
                <p class="description ">
                    Grupi I çiklizmit “Marakli t’Biciklave” për nder të ditës së gruas - 8 MARSI, të hënën organizon eventin e radhës Marsho dhe çiklo që do të mbahet nëpër rrugët kryesore të kryeqytetit të Kosovës - Prishtinë. Ngjarja ka më shumë karakter
                    senzibilizues si në aspektin e të drejtave të grave po ashtu edhe të përfshirjes së grave në aktivitete sportive sic është ciklizmi. Andaj i inkurajojmë të gjitha gratë antare të grupit por edhe ato joanëtare, që të
                    na bashkohen në këtë aktivitet dhe të marshojm se bashku me bicikleta. Me këtë rast ne I bashkohemi thirrjes për më shumë të drejta për gratë por edhe për gra të forta sic janë sportistet përkatësisht ciklistet. E
                    përbashkëta e të drejtava të grave dhe ciklizimit është lëvizja.
                    <p>

            </div>
        </div>

        <div class="eventet ">
            <img class="upfoto " src="../../photos/8 marsi.jpg " alt=" ">
            <div class="text ">
                <h3>8 marsi</h3>
                <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                <button>Going</button>
                <p class="read ">Hold to read more</p>
                <div class="overlay">
                    <p class="description ">
                        Grupi I çiklizmit “Marakli t’Biciklave” për nder të ditës së gruas - 8 MARSI, të hënën organizon eventin e radhës Marsho dhe çiklo që do të mbahet nëpër rrugët kryesore të kryeqytetit të Kosovës - Prishtinë. Ngjarja ka më shumë karakter
                        senzibilizues si në aspektin e të drejtave të grave po ashtu edhe të përfshirjes së grave në aktivitete sportive sic është ciklizmi. Andaj i inkurajojmë të gjitha gratë antare të grupit por edhe ato joanëtare, që
                        të na bashkohen në këtë aktivitet dhe të marshojm se bashku me bicikleta. Me këtë rast ne I bashkohemi thirrjes për më shumë të drejta për gratë por edhe për gra të forta sic janë sportistet përkatësisht ciklistet.
                        E përbashkëta e të drejtava të grave dhe ciklizimit është lëvizja.
                        <p>
                </div>
            </div>
        </div>

        <div class="eventet ">
            <img class="upfoto " src="../../photos/Batllava.jpg " alt=" ">
            <div class="text ">
                <h3>Batllava</h3>
                <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                <button>Going</button>
                <p class="read ">Hold to read more</p>
                <div class="overlay">

                    <p class="description ">
                        Ne takohemi tek sheshi ''Zahir Pajaziti'' në Prishtinë nga ora 08:30 (është mirë të jeni prezent së paku 15 minuta më herët) Udhëtimi në drejtim të Liqenit të Batllavës do të bëhet me biçikleta nga Qyteti i Prishtinës, distanca qe do t'a
                        përshkojm është 80+km (dy drejtimëshe), vlen të ceket se tereni është mesatarisht i vështirë, dhe në këtë aktivitet preferohet të marrin pjesë vetëm ata/ato , të cilët janë mirë të përgaditur në aspektin fizik.
                        Gjatë rrugës do të ketë ndalesa të vazhdueshme për pushim , sipas nevojave dhe kërkesave të pjesëmarrësve. Ndërsa pas arritjes në Fshatin Orllan do të ndalemi për një natë Camping. Pas përfundimit të aktivitetit
                        , kthimi për në Prishtinë parashihet gjithashtu të bëhet me biçikleta
                        <p>
                </div>

            </div>
        </div>

    </div>
    <h1 class="nen_titull">Past events</h1>

    <div class="container1">
        <div class="eventet">
            <img class="upfoto " src="../../photos/prizren.jpg" alt=" ">
            <div class="text active ">
                <h3>Tour de Prizren</h3>
                <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                <button id="review">Review</button>
            </div>
            <!-- ne overlay e shtin veq desc te objektit edhe punon super tani me kod te w3schools :D -->


        </div>

        <div class="eventet">
            <img class="upfoto " src="../../photos/peje.jpg" alt=" ">
            <div class="text active ">
                <h3>Critical Mass Peja</h3>
                <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                <button id="review">Review</button>


            </div>
            <!-- ne overlay e shtin veq desc te objektit edhe punon super tani me kod te w3schools :D -->




        </div>
        <div class="eventet">
            <img class="upfoto " src="../../photos/mirush.jpg " alt=" ">
            <div class="text active ">
                <h3>Ujvara e Mirushes</h3>
                <p class="ora ">ORA:15:00 / DATA:28.11.2021</p>
                <button id="review">Review</button>

            </div>
            <!-- ne overlay e shtin veq desc te objektit edhe punon super tani me kod te w3schools :D -->

        </div>
    </div>
</div>
    <footer style="padding: 30px;">
        <div class="flex">
            <div>
                <h4 style="margin-bottom: 20px;">contact</h4>
                <ul>
                    <li>email@email.com</li>
                    <li>049123123</li>
                    <li>+38349321312</li>
                </ul>
            </div>
            <div>
                <h4 style="margin-bottom: 20px;">Quick links</h4>
                <ul>
                    <li><a href="../events/Eventet.html">Events</a></li>
                    <li><a href="../shop/shop.html">Shop</a></li>
                    <li><a href="../general components/home1,1.html">Home</a></li>
                </ul>
            </div>
            <div>
                <h4 style="margin-bottom: 20px;">socials</h4>
                <div style="margin-top: 30px;">

                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>

    </footer>
    <script src="event.js "></script>
</body>

</html>