@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root {
    --blue: #0E49B5;
    --green: #54E346;
}

@font-face {
    font-family: Bison;
    src: url(../../font/Bison/Bison.ttf);
}

* {
    font-family: Bison;
}

body {
    margin: 0;
    padding: 0px;
}

.main {
    /* font-family: "Lato", sans-serif; */
    background-color: white;
    overflow-x: hidden;
    margin: 50px 50px 50px 50px;
    background-color: white;
}

.nen_titull {
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 30pt;
    border-style: none;
    background-color: var(--blue);
    padding: 5px 15px;
    align-items: center;
    border-radius: 20px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
}

input {
    font-family: Bison;
    border-radius: 20px;
    border-radius: 3px;
    border: 1px solid #0E49B5;
    background-color: #0E49B5;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 25px;
    padding: 5px 50px;
    margin: 10px 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

input:hover {
    background-color: var(--green);
    border-color: var(--green);
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
}

.eventet {
    /* width: 18%; */
    display: block;
    list-style: none;
    background-color: black;
    box-sizing: border-box;
    position: relative;
    margin: 15px 25px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    z-index: 1;
}


/* qita kod e bon overlay me funksionu */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    visibility: hidden;
    transition: .5s ease;
    background-color: black;
}

.upfoto:active .overlay {
    visibility: visible;
}

.eventet:hover {
    filter: drop-shadow(0 0 0.6rem black);
}

.description {
    margin: 0;
    color: white;
    font-size: 2vh;
    position: absolute;
    width: 92%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}


/* #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
} */


/* deri qitu kodi */

.read {
    padding-bottom: 5px;
    font-size: 12px;
}

.ora {
    font-size: 20px;
}

.read:hover {
    filter: drop-shadow(0 0 0.3rem white);
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    .main {
        margin: 50px 0px 50px 0px
    }
}

@media screen and (max-width: 1000px) {
    .container1 {
        flex-direction: column;
    }
}

img {
    height: 250px;
    width: 100%;
    z-index: 2;
}

.upfoto {
    height: 250px;
}

.text {
    margin: 0px 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.text h3 {
    font-size: 40pt;
    margin: 0px 0px;
    font-family: 'Bebas Neue', cursive;
    z-index: 10;
    color: white;
}

.text p {
    margin: 0px 0px;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 8px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

button:hover {
    background-color: var(--blue);
    transform: scale(1.02);
}

#review {
    margin-bottom: 5px;
}


/* footer */

footer {
    text-align: center;
    padding: 3px;
    background-color: var(--blue);
    color: white;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: rgb(197, 255, 233);
    border: 2px solid rgb(65, 211, 155);
}

.fa:hover {
    color: white;
    border: 2px solid white;
}

.comand {
    padding-right: 5px;
}