.body {
    margin: 50px 100px;
}

.calendar {
    position: absolute;
    left: 50px;
    bottom: -66px;
    width: 120px;
    height: 110px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 2px 14px 4px rgb(0 0 0 / 9%);
}