<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/"></script>
    <link rel="stylesheet" href="./css/profile.css">
</head>
<body>
    <div class="main row">
        <div class="profile column">
            <img src="../../photos/shirt.jpg" alt="">
            <div class="text">
                <h2>filan fisteku</h2>
                <div class="kilometrat">
                    <h3>Kilometrat me marakli:15km</h3>
                </div>
                <div class="owned">
                    <h3>Owned bike</h3>
                </div>
                <div class="purchases">
                    <h3>Blerjet:</h3>
                </div>

            </div>
        </div>
        <div class="events">
            <h1>Events</h1>
            <div class="events-holder column">
                <div class="event-card row">
                    <img src="../../photos/minimalist-desktop-10.jpg" alt="">
                    <div class="info"> 
                        <h2>hello event</h2>
                        <h3>event cat</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Inventore, similique ratione earum doloremque laborum quia voluptas
                             non iure, odio aliquam quam soluta? Totam nostrum, possimus veritatis beatae animi vero voluptate.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>