<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="wrapper" style="background-color:white;">
        <div class="inner">
            <form action="">
                <h1 style="font-family: 'Montserrat', sans-serif; font-size: 35px; margin: 10px 0px;">Regjistrohu</h1>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-wrapper">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label for="">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label for="">Confirm Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                <div class="form-wrapper">
                    <label for="">Mosha</label>
                    <input type="number" class="mosha form-control">
                </div>
                <div class="form-wrapper gjinia">
                    <label class="gjinia-margin" for="">Gjinia</label>
                    <div class="check">
                    <input  type="radio" name="gender">
                        <label class="radio"  for="mashkull">Mashkull</label>
                    <input type="radio" name="gender">
                        <label class="radio"  for="femer">Femër</label>
                     </div>
                </div>
            </div>
                <button>Register Now</button>
            </form>
        </div>
    </div>

</body>
<!-- This templates was made by Fantacy Designs (https://fantacydesigns.com/) -->

</html>