<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/shop.css">
</head>

<body>

    <div class="welcom-div ">
        <div class="title">

            <h2>Welcome to our shop</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Corporis quis dolorem reprehenderit ut laudantium possimus porro h
                arum delectus. Cupiditate, expedita corporis iste
                 perspiciatis rerum nulla minus quibusdam cum velit ex.</p>
        </div>
        <div class=" filter-holder row">
            <div class="filter"><a href="#section1">cloths</a></div>
            <div class="filter"><a href="#section2">accesories</a></div>
            <div class="filter"><a href="#section3">stickers</a></div>
        </div>
    </div>
    <div class="section" id="section1">
        <h2 style="">Cloths</h2>
        <div class="wrap cloths">
            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>
 
        </div>
    </div>
    <div class="section" id="section2">
        <h2 style="">Accesories</h2>
        <div class="wrap cloths">
            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>
 
        </div>
    </div>
    <div class="section" id="section3">
        <h2 style="">stickers</h2>
        <div class="wrap cloths">
            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>

            <div class="cloths-item" >
                <img src="../../photos/shirt.jpg" alt="">
                <div class="text">
                    <h2>Bluz per meshkuj</h2>
                    <h3>15.00$</h3>
                    <div class="colors row">
                        <!-- <div class="blue"></div>
                        <div class="red"></div>
                        <div class="green"></div> -->
                    </div>
                </div>
            </div>
 
        </div>

    </div>
    <!-- Button on fixed on bottom right corner of the page -->
    <button onclick="topFunction()" id="scrollToTopBtn" title="Go to top">☝️</button>

    <script src="./js/shop.js"></script>

    <script>
        
       </script>
</body>

</html>