<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/shop.css">
</head>

<body>

    <div class="welcom-div ">
        <div class="title">

            <h2>Welcome to our shop</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Corporis quis dolorem reprehenderit ut laudantium possimus porro h
                arum delectus. Cupiditate, expedita corporis iste
                 perspiciatis rerum nulla minus quibusdam cum velit ex.</p>
        </div>
        <div class=" filter-holder row">
            <div class="filter"><a href="#section1">section 1</a></div>
            <div class="filter"><a href="#section2">section 2</a></div>
            <div class="filter"><a href="#section3">section 3</a></div>
        </div>
    </div>
    <div class="section" id="section1">
        <h2 style="padding:20px;
                    margin-left: 60px;
                    margin-top: 0;">Cloths</h2>
        <div class="wrap cloths">
            <div class="cloths-item">
                <img src="../../photos/clothes2.jpeg" alt="">
            </div>
 
        </div>
    </div>
    <div class="section" id="section2">
        <div class="wrap ">
            <div class="cloths-item"></div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="wrap ">
            <div class="cloths-item"></div>
        </div>

    </div>
    <!-- Button on fixed on bottom right corner of the page -->
    <button onclick="topFunction()" id="scrollToTopBtn" title="Go to top">☝️</button>

    <script src="./js/shop.js"></script>

</body>

</html>