@font-face {
    font-family: Bison;
    src: url(../../../font/Bison/Bison.ttf);
}

:root {
    --blue: #0E49B5;
    --green: #6be260;
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    font-family: Bison;
    letter-spacing: 2px;
}

body {
    overflow-x: hidden;
}


/* ============= navbar ================ */

#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 70px;
}

#navbar #logo-pic {
    transition: 0.4s;
    float: left;
    height: 70px;
    margin: 0px;
}

#navbar #logo {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
    font-family: Bison;
}

#navbar a:hover {
    transition: 0.4s;
    background-color: #fcfcfc70;
    color: black;
}

#navbar a.active {
    transition: 0.4s;
    background-color: var(--green);
    color: white;
}

#navbar-right {
    float: right;
    margin-right: 50px;
}

#nav-holder {
    transition: 0.4s;
    margin-top: 12px;
}

.active {
    font-size: 25px !important;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
        /* margin-left: -100px; */
    }
}


/* ------ paralex ---------------- */

.buttons {
    position: sticky;
    top: 0;
    right: 0;
}

.main {
    width: 100%;
    background-image: url('../../../photos/bg1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    transition: 1000ms;
}

section {
    width: 100%;
    min-height: 1px;
}

.content {
    width: 40%;
    min-height: 1px;
    margin-top: 10%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    text-shadow: 2px 2px 5px black;
    /* background: rgba(128, 128, 128, 0.171); */
    /* filter: blur(1); */
}

.Join-us {
    text-align: center;
}

.Join-us h2 {
    font-size: 30px;
}

.Join-us h1 {
    font-size: 5vw;
}

.Join-us button {
    border: none;
    font-size: 24px;
    background: #54E346;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.5s;
}

.Join-us button:hover {
    background: #3fdf31;
    transition: 0.5s;
    transform: translateY(-5px);
}


/* ------ paralex end ---------------- */

#terrain {
    z-index: -1;
    width: 100%;
}

#cave {
    width: 100%;
    margin-top: -18px;
    background-color: white;
}

#progress {
    position: sticky;
    left: -20px;
    bottom: -14px;
    z-index: 1;
    width: 100%;
    /* transform: rotate(-6deg); */
}

.progress-container {
    display: flex;
    width: 100%;
    height: 8px;
    z-index: 2;
}

.div_t {
    z-index: -1;
}

.progress-bar {
    height: 8px;
    /* background: #04AA6D; */
    width: 0%;
}

.test {
    color: aliceblue;
    float: left;
}

#biker {
    height: 105px;
    margin-top: -155px;
}

#main-body {
    margin-top: -10px;
    padding: 20px;
    background-color: white;
    height: auto + 60px;
}

.main .main_imazhe {
    filter: drop-shadow(0 0 0.6rem black);
    margin-top: 13px;
}


/* main - body */

.events {
    margin: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* min-height: 500px; */
}


/* .events .pic{

} */

.events .text {
    width: 40%;
    padding-left: 40px;
    padding-right: 40px;
}

.tekst {
    margin: 10px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.tekst h4 {
    margin-bottom: 3px;
}

.tekst h5 {
    margin-bottom: 5px;
    font-weight: 300;
}

.tekst p {
    font-size: 13px;
    margin-top: 15px;
}


/* footer */

footer {
    text-align: center;
    padding: 3px;
    background-color: var(--blue);
    color: white;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: rgb(197, 255, 233);
    border: 2px solid rgb(65, 211, 155);
}

.fa:hover {
    color: white;
    border: 2px solid white;
}


/* card slider */


/* external css: flickity.css */

.gallery {
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
    background: var(--green)
}

.gallery-cell {
    text-align: center;
    padding: 10px;
    width: 250px;
    margin: 20px;
    display: block;
    background: white;
    /* min-height: 400px; */
    box-shadow: 0px 0px 13px #18ff0c5e;
    /* counter-increment: gallery-cell; */
    transition: 0.5s;
    transition: 1s;
}

.gallery-cell:hover {
    transition: 0.5s;
    background: var(--blue);
    /* min-height: 400px; */
    box-shadow: 0px 0px 13px #9f7c99;
    cursor: pointer;
    color: white;
    /* counter-increment: gallery-cell; */
}

.gallery-cell img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    margin: 20px;
    margin-bottom: 0px;
    /* counter-increment: gallery-cell; */
}

.tekst {
    margin: 10px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.tekst h4 {
    margin-bottom: 0px;
    margin-top: 3px;
}

.tekst h5 {
    margin-top: 3px;
    margin-bottom: 0px;
    font-weight: 300;
}

.tekst p {
    font-size: 13px;
    margin-top: 15px;
}

.social {
    padding-bottom: 5px;
    text-align: center;
}

.social .fa {
    width: 12px;
    font-size: 12px;
    color: var(--green);
    border: 2px solid var(--green);
}

.social .fa:hover {
    background: var(--green);
    color: rgb(212, 255, 239);
    border: 2px solid rgb(212, 255, 239);
}

.flexRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.hiden {
    display: none;
    transition: 1s;
}

.previous a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.previous a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.previous .round {
    border-radius: 50%;
}

@font-face {
    font-family: subslack;
    src: url(../../font/subslack/SublackDemoRegular.ttf);
}

.switch:hover {
    transition: 0.5s;
    border: 2px solid #2b4e2a85;
    color: #2a4d2885;
    /* text-shadow: 0px 0px 10px rgba(27, 18, 29, 0.555); */
}

i {
    padding: auto;
    line-height: 15px !important;
    width: 15px !important;
    font-size: 25px!important;
    padding: 10px !important;
    cursor: pointer !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    color: white!important;
    border: 2px solid white!important;
    transition: 0.5s;
}

i:hover {
    color: #4CAF50!important;
    background: white!important;
}


/* contact */

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--blue);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 40px;
}