@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Roboto:wght@300&display=swap');
:root {
    --blue: #0E49B5;
    --green: #54E346;
}

@font-face {
    font-family: Bison;
    src: url(../../font/Bison/Bison.ttf);
}

* {
    font-family: Bison;
}

#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding-top: 0px;
    padding-bottom: 7px;
    padding-left: 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 70px;
}

#navbar #logo-pic {
    transition: 0.4s;
    float: left;
    height: 70px;
    margin: 0px;
}

#navbar #logo {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    transition: 0.4s;
    font-family: Bison;
    margin-bottom: 3px;
}

#navbar a:hover {
    transition: 0.4s;
    background-color: #fcfcfc70;
    color: black;
}

#navbar a.active {
    transition: 0.4s;
    background-color: var(--green);
    color: white;
}

#navbar-right {
    float: right;
    margin-right: 50px;
}

#nav-holder {
    transition: 0.4s;
    margin-top: 12px;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
        /* margin-left: -100px; */
    }
}

#navbar-right a:hover {
    color: var(--green);
    z-index: 1;
}

#navbar a.active:hover {
    color: white;
    background-color: var(--blue);
    z-index: 2;
}