@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: Bison;
    src: url(../../../font/Bison/Bison.ttf);
}

:root {
    --blue: #0E49B5;
    --green: #54E346;
}

body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
}


/* ============= navbar ================ */

#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding-top: 0px;
    padding-bottom: 7px;
    padding-left: 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 70px;
}

#navbar #logo-pic {
    transition: 0.4s;
    float: left;
    height: 70px;
    margin: 0px;
}

#navbar #logo {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    transition: 0.4s;
    font-family: Bison;
    margin-bottom: 3px;
}

#navbar a:hover {
    transition: 0.4s;
    background-color: #fcfcfc70;
    color: black;
}

#navbar a.active {
    transition: 0.4s;
    background-color: var(--green);
    color: white;
}

#navbar-right {
    float: right;
    margin-right: 50px;
}

#nav-holder {
    transition: 0.4s;
    margin-top: 12px;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
        /* margin-left: -100px; */
    }
}

#navbar-right a:hover {
    color: var(--green);
    z-index: 1;
}

#navbar a.active:hover {
    color: white;
    background-color: var(--blue);
    z-index: 2;
}


/*-----------------nav finish------------- */

.welcom-div {
    min-height: 400px;
    /* background-image: url('../../../photos/COVER EMPTY.jpg'); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    color: white;
    text-align: center;
    padding: 85px 20px 20px 20px;
    filter: drop-shadow(0 0 1rem black);
    background-color: black;
    /* margin-bottom: ; */
}

.title p {
    font-size: 22px;
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.title h2 {
    font-size: 70px;
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
    font-family: Bison;
    text-shadow: 4px 4px black;
}

.filter-holder {
    height: 95px;
    bottom: 0;
    margin-bottom: auto;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.filter {
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    transition: 1s;
    transform: translateY(0px);
}

.filter:hover {
    transform: translateY(-20px);
    transition: 1s;
}

.filter a {
    font-size: 25px;
    background: rgba(0, 0, 0, 0.445);
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.808);
    text-decoration: none;
    border-radius: 30px;
    color: white;
    background-color: var(--green);
}

.section {
    /* height: 600px; */
    width: 100%;
}

.section h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding: 20px;
    padding-bottom: 0px;
    margin-left: 60px;
    margin-bottom: 0;
    margin-top: 0;
}

.section .section-head {
    font-size: 70px;
    font-weight: 900;
    font-family: bison;
    color: rgb(27, 27, 27);
}

#section1 {
    background-color: rgb(235, 241, 237);
}

#section2 {
    background-color: white;
}

#section3 {
    background-color: rgb(235, 241, 237);
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cloths-item {
    padding: 5px;
    margin: 25px;
    margin-bottom: 35px;
    width: 18%;
    border: 3px solid #21bb4700;
    box-shadow: 0px 0px 7px -2px #00000000;
    transition: 0.5s;
}

.cloths-item:hover {
    border-radius: 10px;
    /* box-shadow: 0px 0px 7px -2px #213826; */
    /* albin puna jote ==================================================== */
    border: 3px solid white;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: 0.5s;
}


/* 
#section2 .cloths-item:hover {
    border: 3px solid #22a743;
    box-shadow: 5px 5px 0px 0px #22a743, 10px 10px 0px 0px #37ca5c, 15px 15px 0px 0px #52e978, 20px 20px 0px 0px #78fc99, 25px 25px 0px 0px #a1ffb8, 0px 0px 7px -2px rgba(0, 0, 0, 0);
} */

.cloths-item img {
    width: 100%;
}

.cloths-item .text {
    text-align: center;
}

.text h2 {
    margin: 0;
    padding: 0;
}

.text h3 {
    margin: 5px;
    font-size: 20pt;
    cursor: pointer;
}

.text h3:hover {
    background-color: var(--blue);
    color: white;
    border-radius: 20px;
}

.colors {
    text-align: center;
    justify-content: center;
}

.colors div {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 3px;
}

.blue {
    background: rgb(107, 159, 255);
    border: 2px solid rgb(233, 233, 233);
}

.red {
    background: rgb(255, 125, 108);
    border: 2px solid rgb(233, 233, 233);
}

.green {
    background: rgb(166, 255, 115);
    border: 2px solid rgb(233, 233, 233);
}


/* scroll to top button */

#scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    /* transform: translateY(100px);
    /* and a transition */
    /* transition: all 0.5s ease;  */
}


/* .showBtn {
    opacity: 1;
    transform: translateY(0);
  } */

  /* footer */
  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(43, 126, 94);
    color: white;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}
ul{
    padding: 0;

}

a {
    text-decoration: none;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: rgb(197, 255, 233);
    border: 2px solid rgb(65, 211, 155);
}

.fa:hover {
    color: white;
    border: 2px solid white;
}
