<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='./css/home1,1.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='./js/home1,1.js'></script>
</head>

<body class='main'>


    <section id="one" style=''>
        <div data-aos="fade-right">
            <div class='content'>
                <h1 style='font-size:5vw;'>first heading</h1>
                <p style='font-size:3vw;'>description</p>
            </div>
        </div>
    </section>



    <section id="two" style='margin-top: 100vh;'>

        <div data-aos="fade-right">
            <div class='content'>
                <h1 style='font-size:5vw;'>second heading</h1>
                <p style='font-size:3vw;'>description</p>
            </div>
        </div>
    </section>



    <section id="three" style='margin-top: 100vh;'>

        <div data-aos="fade-right">
            <div class='content'>
                <h1 style='font-size:5vw;'>third heading</h1>
                <p style='font-size:3vw;'>description</p>
            </div>
        </div>
    </section>


    <section id="four" style='margin-top: 100vh; margin-bottom: 30vh;'>

        <div data-aos="fade-right">
            <div class='content'>
                <h1 style='font-size:5vw;'>fourth heading</h1>
                <p style='font-size:3vw;'>description</p>
            </div>
        </div>
    </section>


    <div id="progress">

        <div id="div_t">
            <img id="terrain" src="../../photos/back.png" alt="no pic">
        </div>
        <div class="progress-container">
            <div class="progress-bar" id="myBar">
            </div>
            <img id="biker" src="../../photos/bike-biking.gif" alt="no img found">
        </div>
    </div>


    <img id="cave" src="../../photos/cave.png" alt="">

    <div id="main-body">

        <h1 style="text-align: center; padding: 20px; margin-top: -60px; ">perks of our web page
        </h1>

        <div class="events">

            <div class="pic" data-aos="fade-up" data-aos-duration="3000">
                <div style=" background:none">
                    <img src="../../photos/Saved-Events.png" width=300px alt="no picture">
                    <img src="../../photos/events.png" width=300px style="margin-left: -60px; margin-bottom: -60px;"
                        alt="no picture">
                </div>
            </div>
            <div class="text" data-aos="fade-up" data-aos-duration="1000">
                <h2>title 1</h2>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis similique aliquid.
                    Suscipit sed vero
                    fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum ab dolore.
                    tetur adipisicing elit. Expedita reiciendis similique aliquid. Suscipit sed vero
                    fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum</p>
                <!-- <div class="test" style=" background: red;"> -->
            </div>

        </div>
        <div class="events">
            <div class="text" data-aos="fade-up" data-aos-duration="1000">
                <h2>title 1</h2>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis similique aliquid.
                    Suscipit sed vero
                    fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum ab dolore.
                    tetur adipisicing elit. Expedita reiciendis similique aliquid. Suscipit sed vero
                    fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum</p>
                <!-- <div class="test" style=" background: red;"> -->
            </div>

            <div class="pic" data-aos="fade-up" data-aos-duration="3000">
                <div style=" background:none">
                    <img src="../../photos/Saved-Events.png" width=300px alt="no picture">
                    <img src="../../photos/events.png" width=300px style="margin-left: -60px; margin-bottom: -60px;"
                        alt="no picture">
                </div>
            </div>

        </div>

    </div>


    <footer  style="padding: 30px;">
        <div class="flex">
            <div>
                <h4 style="margin-bottom: 20px;">contact</h4>
                <ul>
                    <li>email@email.com</li>
                    <li>049123123</li>
                    <li>+38349321312</li>
                </ul>
            </div>
            <div>
                <h4 style="margin-bottom: 20px;">Quick links</h4>
                <ul>
                    <li><a href="../events/Eventet.html">Events</a></li>
                    <li><a href="../shop/shop.html">Shop</a></li>
                    <li><a href="../general components/home1,1.html">Home</a></li>
                </ul>
            </div>
            <div>
                <h4 style="margin-bottom: 20px;">socials</h4>
                <div style="margin-top: 30px;">

                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>

    </footer>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>