<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='./css/home1,1.css' rel='stylesheet' type='text/css' />
    <script src='./js/home1,1.js'></script>
</head>

<body class='main'>


    <section id="one">
        <div class='content'>
            <h1 style='font-size:5vw;'>first heading</h1>
            <p style='font-size:3vw;'>description</p>
        </div>
    </section>
    <section id="two" style='margin-top:100vh'>
        <div class='content'>
            <h1 style='font-size:5vw;'>second heading</h1>
            <p style='font-size:3vw;'>description</p>
        </div>
    </section>
    <section id="three" style='margin-top:100vh'>
        <div class='content'>
            <h1 style='font-size:5vw;'>third heading</h1>
            <p style='font-size:3vw;'>description</p>
        </div>
    </section>
    <section id="four" style='margin-top:120vh'>
        <div class='content' style='margin-bottom:10%;'>
            <h1 style='font-size:5vw;'>fourth heading</h1>
            <p style='font-size:3vw;'>description</p>
        </div>
    </section>

    <div id="progress">
        <div class="progress-container">
            <div class="progress-bar" id="myBar">
            </div>
            <img id="biker" src="../../photos/bike-biking.gif" alt="no img found">
        </div>
        <div id="div_t">
            <img id="terrain" src="../../photos/Untitled.png" alt="">
        </div>
    </div>
    
    
    <img id="cave" src="../../photos/cave.png" alt="">
    <div id="main-body" >
        hello world
    </div>
</body>

</html>