<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='./css/home1,1.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src='./js/home1,1.js'></script>

    <style>
        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>

<body class='main'>
    <div id="navbar">
        <img id="logo-pic" src="../../photos/logo zi.png" alt="no pic found">
        <div id="nav-holder">
            <a href="#default" id="logo">Marakli T'Biciklave</a>
            <div id="navbar-right">
                <a class="active link" href="#">Join Us</a>
                <!-- <div>||</div> -->
                <a class="link" href="../profile/Login.html">login</a>
            </div>
        </div>
    </div>


    <section id="one">
        <div class=" flexRow">
            <div data-aos="fade-right" data-aos-delay="300" data-aos-offset="0" class='content'>
                <h1 style='font-size:5vw;'>Qëllimi</h1>
                <p style='font-size:3vw;'> </p>
                <div>Marakli't biciklave eshte grupi me i madh ne ballkan i cili si qellim kryesor ka qe te ngris vetedijen njerzore ndaj qiklisteve dhe njekohesisht te ju ofroj qiklisteve mundsine e qiklimit ne grup.
                </div>

            </div>
            <div data-aos="fade-down" data-aos-delay="500" data-aos-offset="0" class="content" style="margin-left: 2%; width: 25%; text-align: right;">Ne cdo event prioritet per ne eshte siguria e qiklisteve andaj edhe munodhemi qe qiklistet te jene mbi 16 vjeq dhe me te pjekur ne menyre qe mos te hasim probleme gjate rruges.
                <div class="content" style="margin-left: 0%; width: auto; text-align: right; margin-top: 30px;">Ne mundohemi qe te sjellim nje lidhje te fort shoqerore mes qiklisteve duke i afruar sa me afer me njeri-tjetrin. Lumturia, largimi nga problemet e perditshme, kthjellimi i mendjes dhe trupit jane veqorite kyqe qe ne mundohemi si grup
                    cdo qiklist ti perjetoj</div>

            </div>

        </div>
    </section>



    <section id="two" style='margin-top: 100vh;'>

        <div class=" flexRow">
            <div data-aos="fade-right" data-aos-delay="700" data-aos-offset="0" class='content'>
                <h1 style='font-size:5vw;'>Historiku</h1>
                <div>Marakli t`Biciklave (MB) është komuniteti më i madh i çiklistëve momentalisht në Kosovë që rreth vetës mbledh mbi 28 mijë anëtarë në rrjete sociale nga të gjitha moshat duke filluar nga mbi 16 vjecarë/e. MB është themeluar tre vite më
                    herët ndërsa qe nga 17 janari 2020 vepron edhe si Organizatë joqeveritare që ka për qëllim: Avancimin e sportit të biciklizmit, krijimin e kushteve për aktivitete sportive dhe kualitative si dhe ngritjen e cilësisë së sportit të biciklizmit
                    duke promovuar jetesë të shëndeteshme dhe ambientit të pastër. </div>
            </div>
            <div data-aos="fade-down" data-aos-delay="900" data-aos-offset="0" class="content" style="margin-left: 2%; width: 25%; text-align: right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, porro. Laborum, ipsam accusantium et numquam repellat soluta nisi? Et fuga molestiae modi accusamus. Consectetur ex vitae natus. Ipsum, fugiat maxime.
                <div class="content" style="margin-left: 0%; width: auto; text-align: right; margin-top: 30px;">Jemi themeluar qe nga viti 2016 si nje grup shume i vogel prej 5 antaresh. Deshira e kryetarit te grupit per te krijuar diqka te madhe shtyu qe dita dites te rritej numri i pjestareve te grupit. Tashme kemi rreth 50 qiklist aktiv, ndersa
                    per evente masive numri arrin deri ne 300 qikliste nga secilia komune. Eshte knaqsi e jona te promovojme diqka te bukur qe le mbresa brezave qe do vijne. Marakli tBiciklave po ashtu janë pjesë e disa projekteve dhe iniciativave të
                    cilat kanë për synim përmirësimin e infrastruktures rrugore për çiklizëm në Prishtinë, Fushë Kosovë, Prizren, Podujevë, Pejë, Gjakovë dhe qytete tjera të Kosovës.</div>
            </div>
        </div>
    </section>



    <section id="three" style='margin-top: 100vh;'>
        <div class=" flexRow">
            <div data-aos="fade-right" data-aos-delay="700" data-aos-offset="0" class='content'>
                <h1 style='font-size:5vw;'>Imapkti</h1>

                <div>Me qëllim parandalimin e aksidenteve ,ngritjen e vetëdijes dhe ndërgjegjësimin pjesëmarrësve në komunikacion për sigurinë rrugore, uljen e shpejtësisë së qarkullimit në komunikacion të mjeteve motorike në 30kmh ne zona urbane , pranë shkollave
                    dhe zona të tjera të caktuara për të shpëtuar jetë në rrugët e Republikës së Kosovës. Marakli t’Biciklave së bashku me Policinë e Kosovës dhe në bashkëpunim me Komuna e Prishtinës po shpërndajnë Fletëpalosje informuese për ngasësit
                    e mjeteve motorike nëpër rrugët e kryeqytetit të Kosovës, Prishtinës. Fletushka informuese ka këshilla bazike për drejtuesit e mjeteve motorike, këto këshilla janë të rëndësishme dhe informacione të nevojshme rreth biçikletës dhe çiklizmit
                    ,ajo përmban informacione sa i përket distancës në mes të mjetit motorik dhe biçikletës, kontrollin e gjendjes për rreth, sinjalizimin, shtigjet e biçikletave, shtigjet e këmbësoreve, kontrolli këndit të vdekur dhe për rreth për çiklistë
                    si dhe këshilla të tjera për sigurinë në komunikacion. Kujtojmë po ashtu se kjo fletëpalosje është shpërndarë gjatë këtyre ditëve edhe në qytetin e Prizrenit nga ana e përfaqësuesve të Marakli t’Biciklave, Policisë së Kosovës dhe grupit
                    të çiklisteve 04 Bike Team. Sipas të dhënave nga OBSH, çdo vit në botë vdesin më shumë se 1.3 milionë njerëz në aksidente rrugore, po kështu çdo vit lëndohen lehtë ose rëndë nga aksidentet mbi 10 milionë njerëz. Policia e Kosovës ka
                    njoftuar se nga raportet e fundit të nxjerra nga autoritetet e Bashkimit Evropian për fatalitetet për vitin 2020 ku janë analizuar statistikat e aksidenteve në Ballkanin Perëndimor tregojnë se Kosova ka më së paku aksidente me pasoja
                    fatale. Institucionet e nivelit qendror dhe lokal, Policia e Kosovës dhe agjencitë e tjera do gjejnë mbështetjen e pa rezervë të Marakli t’Biciklave me qëllim rritjen e nivelit të sigurisë rrugore dhe në uljen e vazhdueshme të numrit
                    të aksidenteve dhe pasojave të tyre..</div>
            </div>
            <div data-aos="fade-down" data-aos-delay="900" data-aos-offset="0" class="content" style="margin-left: 2%; width: 25%; text-align: right;">Kryeqyteti i biçikletave, Gjakova, me 30 Maj do të jetë bashkëorganizatore dhe nikoqire e eventit të turit sportivo-kulturor. Sot nënshkruam memorandumin e bashkëpunimit ku ndër pikat kryesore përfshihet zhvillimi i një turi i cili do jetë
                tradicional e që ka ka për qëllim rritjen e numrit të përdoruesve të bicikletave, si dhe promovimin e pikave turistike në komunën e Gjakovës. Në ditët ne vijmë do publikojmë detajet tjera rreth këtij aktiviteti.

                <div class="content" style="margin-left: 0%; width: auto; text-align: right; margin-top: 30px;">Në këtë takim u diskutua për gjendjen aktuale të shtigjeve të biçikletave në këtë qytet,si dhe u vlerësuan nevoja dhe mundësit ,të të gjithë akterëve përfshirë edhe Komunën dhe institucionet tjera relevante, për krijimin e kushteve dhe
                    rrethanave më të mira për sigurinë e përgjithshme të çiklistëve nëpër rrugët e Gjakovës , me theks të veçant krijimin e shtigjeve të reja të çiklizmit dhe parkingjeve për biçikleta në pika të caktuara, brenda dhe jasht qytetit. Gjithashtu
                    pjesë e diskutimeve ishte dhe mundësia për bashkëorganizimin e një turi me biçikleta, i cila do të shërbente për të promovuar pikat turistike të komunës së Gjakovës. Ky tur pritet të oranizohet në javën e fundit të muajit Maj, i cili
                    gjithashtu mendohet të bëhet tradicional. Kryetarit Gjini, Berat Rakovica dhe Driada Sopi ua shprehën vullnetin e Marakli t'Biciklave! që ta vazhdojmë dhe avancojmë edhe më tutje bashkëpunimin tonë.</div>
            </div>
        </div>
    </section>


    <section id="four" style='margin-top: 100vh; margin-bottom: 30vh;'>

        <div class=" flexRow">
            <div data-aos="fade-right" data-aos-delay="700" data-aos-offset="0" class='content'>
                <h1 style='font-size:5vw;'>fourth heading</h1>
                <p style='font-size:3vw;'>description</p>
                <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolorem illo quia natus provident laudantium consequatur, debitis fuga. Numquam, neque praesentium molestiae aperiam expedita iste sapiente. Incidunt non laborum est.</div>
            </div>
            <div data-aos="fade-down" data-aos-delay="900" data-aos-offset="0" class="content" style="margin-left: 2%; width: 25%; text-align: right;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, porro. Laborum, ipsam accusantium et numquam repellat soluta nisi? Et fuga molestiae modi accusamus. Consectetur ex vitae natus. Ipsum, fugiat maxime.
                <div class="content" style="margin-left: 0%; width: auto; text-align: right; margin-top: 30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, porro. Laborum, ipsam accusantium et numquam repellat soluta nisi? Et fuga molestiae modi accusamus. Consectetur ex vitae natus. Ipsum, fugiat maxime.</div>
            </div>
        </div>
    </section>


    <div id="progress">

        <div id="div_t">

            <img id="terrain" src="../../photos/marakli ribon1.png" alt="no pic">
        </div>
        <div class="progress-container">
            <div class="progress-bar" id="myBar">
            </div>
            <img id="biker" src="../../photos/bike-biking.gif" alt="no img found">
        </div>
    </div>


    <img id="cave" src="../../photos/cave.png" alt="">

    <div id="main-body">

        <h1 style="text-align: center; padding: 0px 20px 20px 20px; margin-top: -60px; ">perks of our web page
        </h1>

        <div class="events">

            <div class="pic" data-aos="fade-up" data-aos-duration="3000">
                <div style=" background:none">
                    <img src="../../photos/Saved-Events.png" width=300px alt="no picture">
                    <img src="../../photos/events.png" width=300px style="margin-left: -60px; margin-bottom: -60px;" alt="no picture">
                </div>
            </div>
            <div class="text" data-aos="fade-up" data-aos-duration="1000">
                <h2>title 1</h2>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis similique aliquid. Suscipit sed vero fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum ab dolore. tetur adipisicing elit.
                    Expedita reiciendis similique aliquid. Suscipit sed vero fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum</p>
                <!-- <div class="test" style=" background: red;"> -->
            </div>

        </div>
        <div class="events">
            <div class="text" data-aos="fade-up" data-aos-duration="1000">
                <h2>title 1</h2>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis similique aliquid. Suscipit sed vero fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum ab dolore. tetur adipisicing elit.
                    Expedita reiciendis similique aliquid. Suscipit sed vero fuga tenetur possimus est, ratione optio dolor nemo natus. Corporis non eius laborum</p>
                <!-- <div class="test" style=" background: red;"> -->
            </div>

            <div class="pic" data-aos="fade-up" data-aos-duration="3000">
                <div style=" background:none">
                    <img src="../../photos/Saved-Events.png" width=300px alt="no picture">
                    <img src="../../photos/events.png" width=300px style="margin-left: -60px; margin-bottom: -60px;" alt="no picture">
                </div>
            </div>

        </div>

    </div>
    <h2 style="text-align: center; margin-bottom: 20px;">Our Team</h2>
    <div class="flexRow gallery">
        <i class="switch fa fa-caret-left" aria-hidden="true" onclick="prev()"></i>
        <!-- <i class='fas fa-caret-left'></i>  -->
        <div class="gallery-cell hiden">
            <img src="../../photos/28n.jpg" alt="">
            <div class="tekst">

                <h4>Betim Sperdhima5</h4>
                <h5>Menaxher Gjeneral</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
        <div class="gallery-cell">
            <img src="../../photos/mali.jpg" alt="">
            <div class="tekst">

                <h4>Betim Sperdhima1</h4>
                <h5>Menaxher Gjeneral</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
        <div class="gallery-cell">
            <img src="../../photos/minimalist-desktop-10.jpg" alt="">
            <div class="tekst">

                <h4>Betim Sperdhima2</h4>
                <h5>Menaxher Gjeneral</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
        <div class="gallery-cell">
            <img src="../../photos/minimalist-desktop-7.jpg" alt="">
            <div class="tekst">

                <h4>Betim Sperdhima3</h4>
                <h5>Menaxher Gjeneral</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>

        </div>
        <div class="gallery-cell hiden">
            <img src="../../photos/babadimrat.jpg" alt="">
            <div class="tekst">

                <h4>Betim Sperdhima4</h4>
                <h5>Menaxher Gjeneral</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            </div>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>

        <i class="switch fa fa-caret-right" aria-hidden="true" onclick="next()" style="padding-left: 14px !important;"></i>
    </div>
    <div class="contact">
        <h2> contact us </h2>
        <div class="container">
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="country">Country</label>
                <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
              </select>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <footer style="padding: 30px;">
        <div class="flex">
            <div>
                <h4 style="margin-bottom: 20px;">contact</h4>
                <ul>
                    <li>email@email.com</li>
                    <li>049123123</li>
                    <li>+38349321312</li>
                </ul>
            </div>
            <div>
                <h4 style="margin-bottom: 20px;">Quick links</h4>
                <ul>
                    <li><a href="../events/Eventet.html">Events</a></li>
                    <li><a href="../shop/shop.html">Shop</a></li>
                    <li><a href="../general components/home1,1.html">Home</a></li>
                </ul>
            </div>
            <div>
                <h4 style="margin-bottom: 20px;">socials</h4>
                <div style="margin-top: 30px;">

                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>

    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>